@import '/src/css/global.css';
@import '/src/pages/quarta/partials/container.css';
@import '/src/pages/quarta/partials/foto.css';
@import '/src/pages/quarta/partials/seta.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#background {
    width: 100vw;
    height: 100vh;
}
.texto{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
